*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(248, 214, 169);
}

#menuSand {
    color: #5c5c5c;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(250, 183, 96);
    border-radius: 50%;
}

#menuSand:hover {
    color: #ffff;
    transition: .5s;
    box-shadow: 0 0 8px #727272da;
    transform: scale(1.05);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 5px;
    background-color: rgba(255, 195, 116, 0.658);
}

div#logo {
    display: inline-block;
}

nav {
    display: block;
    position: relative;
    font-weight: 500;
    left: -80px;
    width: auto;
}

nav ul {
    display: flex;
    width: auto;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 6%;
}

nav ul li a {
    color: #5c5c5c;
    transition: .2s;
}

nav ul li a:hover {
    color: #ffff;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(250, 183, 96);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
    color: #5c5c5c;
}

.btn-contato button:hover{
    color: #ffff;
    box-shadow: 0 0 8px #727272da;
    transform: scale(1.05);
}

#nav-mobile  {
    background-color: #5c5c5c;
}